.password-blur > :not(.password-blur-checkbox-container) {
    filter: blur(0.16em);
}

.password-blur-checkbox-container {
	padding-left: 0.5em;
	padding-top: 0.5em;
}

.password-blur-checkbox {
	margin-right: 0.4em;
}
