.header-image-container {
	height: auto;
	padding: 15px !important;
	max-height: 600px !important;
}
.header-image-container:hover {
	border-width: 2px;
	padding: 14px !important;
	border-color: var(--navbar) !important;
}
.header-image-container.hover {
	box-shadow: inset 0 0 10px 2px whitesmoke !important;
	border-style: dashed;
	border-color: var(--navbar) !important;
	border-width: 3px;
	padding: 13px !important;
}
.header-add-pic {
	width: 100px;
	height: 100px;
	color: var(--navbar);
}
/* Display full image */
.header-add-pic.full {
	max-height: 550px;
	width: auto;
	height: auto;
}
.header-add-label {
	font-size: 22px;
	margin-right: 10px;
}
.header-clear-button {
	user-select: none;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	background-color: red;
	border: none;
	border-radius: 50%;
	color: white;
	font-weight: bolder;
	text-align: center;
	width: 25px;
	height: 25px;
}

.text-content {
	font-size: 15px;
	height: 150px;
	min-height: 150px;
	max-height: 300px;
}

.header-additionals-container {
	height: 40px;
	margin-bottom: 6px;
}

.header-attachments-container {
	height: 50px;
}

.post-button {
	background-color: var(--navbar);
	border: 2px solid var(--navbar);
	border-radius: 5px;
	color: white;
	padding: 6px;
	padding-top: 4px;
	padding-left: 18px;
	padding-right: 18px;
	font-weight: bold;
	font-size: 16px;
}
.post-button:disabled {
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}
.post-button::not(:disabled):hover {
	transition: filter 0.1s linear;
	filter: brightness(1.25);
}
